---
interface MainManuLinks{
    occup : string,
    hob : string,
    edu : string,
    con : string
}

export interface Props {
    manuLinks : MainManuLinks
}

const {manuLinks} = Astro.props as Props
---
<!-- a href vs button vs li, a semantic conflict, to change in the future -->
<div class="manu-container">
    <div class="manu-title">
        <p>o mnie</h3>
    </div>
    <ul class="manu">
        <li class="manu-general-info">
            <a href="/">
                <button class="btn-manu-start">
                    ogólnikowo
                </button>
            </a>
        </li>
        <li class="manu-proffesional-experience">
            <a href={manuLinks.occup}>
                <button class="btn-manu-proffesional-experience-">zawodowo</button>
            </a>
        </li>
        <li class="manu-school-courses">
            <a href={manuLinks.edu}>
                <button class="btn-manu-school-courses">
                    edukacyjnie
                </button>
            </a>
        </li>
        <li class="manu-hobbies">
            <a href={manuLinks.hob}>
                <button class="btn-manu-hobbies">
                    hobbystycznie
                </button>
            </a>
        </li>
        <li class="manu-contact">
            <a href={manuLinks.con}>
                <button class="btn-manu-contact">
                    kontaktowo
                </button>
            </a>
        </li>
    </ul>
</div>

<style>
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
    
li{
    padding: 10px;
    border: 1px solid rgb(243, 243, 224);
    margin-right: 8px;
    font-family: "Parkinsans", serif;
    border-radius: 2px;
}

li:hover{
    border: 1px solid black;
    background-color: rgba(243, 243, 224,0.9);
    cursor: pointer;
}

.manu-title{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    border: 1px solid rgb(243, 243, 224);
    border-radius: 2px;
    padding: 6px 0;
}

</style>
